:root {
  --primary-color: #212121;
  --primary-color-dark: #000000;
  --primary-color-light: #757575;
  --background-color-one: #2f303a;
  --background-color-two: #f5f4fa;
  --secondary-color: #2196f3;
  --active-color: #188ce8;
  --white-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-color);
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-decoration: none;
}

.header-logo-studio {
  color: var(--primary-color-dark);
}

.nav {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-studio,
.nav-port,
.nav-portfolio,
.nav-contact {
  text-decoration: none;
}

.nav-port,
.nav-contact {
  color: var(--primary-color);
}
.contacts {
  list-style: none;
  text-decoration: none;
}

.nav-studio-active,
.nav-portfolio-active {
  text-decoration: none;
  color: var(--secondary-color);
}

.contacts-mail,
.contacts-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-color-light);
  text-decoration: none;
}
.hero {
  background-color: var(--background-color-one);
  border: 1px solid #ececec;
}

.button {
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.visually-hidden {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  list-style: none;
}

.feature {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-color-light);
}

.our-works-header,
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-works-list {
  list-style: none;
}

.team {
  background-color: var(--background-color-two);
}

.team-list {
  list-style: none;
}

.team-card {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color-light);
}

.footer {
  background-color: var(--background-color-one);
}
.footer-logo-studio {
  color: var(--white-color);
}

.footer-adress-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
  font-style: normal;
}

.footer-mail-link,
.footer-phone-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color-light);
  text-decoration: none;
  font-style: normal;
}

.portfolio-works-list {
  list-style: none;
}

.portfolio-works-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--background-color-two);
  cursor: pointer;
}

.portfolio-examples {
  visibility: hidden;
}

.portfolio-examples-list {
  list-style: none;
}

.portfolio-work-customer {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-work-name {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-color-light);
}

.contacts-mail:hover,
.contacts-mail:focus,
.contacts-phone:hover,
.contacts-phone:focus {
  color: #2196f3;
}

.portfolio-works-button:hover,
.portfolio-works-button:focus {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.button:hover,
.button:focus {
  background-color: var(--active-color);
}

.footer-adress-link:hover,
.footer-adress-link:focus,
.footer-mail-link:hover,
.footer-mail-link:focus,
.footer-phone-link:hover,
.footer-phone-link:focus {
  color: var(--active-color);
}
